<div class="table">
  <h3 ng-show="narrower.items.length < 1">Nothing found</h3>
  <table ng-show="narrower.items.length > 0">
    <tr id="heading">
      <th>Name</th>
      <th>SN</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="item in narrower.items">
      <td>{{ item.name }}</td>
      <td>{{ item.short_name }}</td>
      <td>{{ item.description }}</td>
      <td id="remove"><button type="button" ng-click="narrower.removeItem($index);">Don't want this one!</button></td>
    </tr>
  </table>
</div>
